@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

.title {
  background: -webkit-linear-gradient(#ce4b27, #27476e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  p {
    @apply text-textColor font-outfit;
  }
  .title {
    @apply sm:text-6xl text-7xl text-textColor font-bold leading-normal;
  }
  .page-container {
    @apply w-full flex flex-col items-center;
  }
  .main-container {
    @apply max-w-full flex-1 flex flex-col items-stretch;
  }
  .card-style {
    @apply group
    duration-500
    rounded-r-lg
    border-l-4
    border-transparent
    sm:shadow-lg
    sm:bg-background2
    sm:border-textColor
    hover:border-textColor
    hover:shadow-lg
    hover:bg-background2;
  }
  .project-card {
    @apply h-52
    max-w-full
    ml-12
    mr-12
    mb-6
    pl-12
    flex
    flex-row
    items-center
    xl:h-48
    sm:h-44
    sm:ml-8
    sm:mr-8
    sm:mt-4
    sm:pl-6
    sm:mb-2;
  }
  .navlink {
    @apply ml-4
      text-xl
      text-textColor
      font-semibold
      border-b-4
      border-transparent
      transition
      duration-500
      cursor-pointer
      hover:text-primary
      hover:border-primary;
  }
  .link-text {
    @apply text-primary
    duration-500
    hover:text-linkHover;
  }
  .section-title {
    @apply text-3xl
    font-bold;
  }
  .section-subtitle {
    @apply text-xl
    font-semibold;
  }
}
