html {
  scroll-behavior: smooth;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .page-container {
    @apply min-h-screen w-full flex flex-col items-center
  }
  .main-container {
    @apply max-w-full flex-1 flex flex-col items-stretch
  }
  .card-style {
    @apply
    group
    duration-500
    sm:shadow-lg
    sm:bg-background2
    sm:border-primary
    border-l-4
    rounded-r-lg
    border-transparent
    hover:border-primary
    hover:shadow-lg
    hover:bg-background2
  }
  .project-card {
    @apply
    h-52
    sm:h-44
    xl:h-48
    max-w-full
    ml-12
    mr-12
    pl-12
    sm:ml-8
    sm:mr-8
    sm:mt-4
    sm:pl-6
    sm:mb-2
    flex
    flex-row
    items-center
  }
  .navlink {
    @apply
      transition
      border-b-4
      border-transparent
      duration-500
      ml-4
      text-primary
      text-xl
      font-semibold
      cursor-pointer
      hover:text-secondary
      hover:border-secondary;
  }
}